<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="experiencia-laboral">
        Experiencia Laboral
      </ion-segment-button>
      <ion-segment-button value="certificaciones">
        Certificaciones
      </ion-segment-button>
      <ion-segment-button value="mis-datos">
        Mis Datos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div [ngSwitch]="segment">
    <router-outlet></router-outlet> <!-- Agrega este router-outlet -->
  </div>
</ion-content>